<!-- <div class="container"> -->
<!--   <div class="jumbotron"> -->
<!--     <h1>Welcome</h1> -->
<!--     <h2>Simple Todo List</h2> -->
<!--   </div> -->
<!--   <div class="panel panel-primary"> -->
<!--     <div class="panel-heading">Status</div> -->
<!--     <div class="panel-body"> -->
<!--       <h3>{{title}}</h3> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<div class="container">
  <br>
  <br>
  <h1>TODO:</h1>
  <br>
  <div *ngIf="logged$ | async">
    <app-todos-viewer></app-todos-viewer>
  </div>
  <div *ngIf="!(logged$ | async)">
    <app-login></app-login>
  </div>
</div>
